@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

/* stylelint-disable-next-line at-rule-no-unknown */
@theme {
  --color-primary: #136dec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101822;

  --font-display: 'Inter', sans-serif;

  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

body {
  margin: 0;
  min-width: 320px;
}

.glow-effect {
  box-shadow: 0 0 40px rgba(19, 109, 236, 0.3);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 32px;
}

.big-icon {
  font-size: 80px !important;
}